<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="Jumpy - Yellowme"/>
    <meta property="og:image" content="https://labs-jumpy.herokuapp.com/images/fb.png"/>
    <meta property="og:site_name" content="Jumpy"/>
    <meta property="og:description" content="Y tu, ¿ya venciste a Jumpy?"/>
    
    <title>Jumpy</title>
    <script src='/javascripts/quintus-all.js'></script>
    <script src='/javascripts/game.js'></script>
  </head>
   <body>
   </body>
</html>