<!DOCTYPE html>
<html>
  <head>
    <title>Jumpy</title>
    <script src='/javascripts/quintus-all.js'></script>
    <script src='/javascripts/game.js'></script>
  </head>
   <body>
   </body>
</html>